---
import BaseHead from "../components/BaseHead.astro"
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
import Image from "../components/Image.astro"
import { Design, Navigation, Settings } from "../lib/interfaces"
import "../styles/global.scss"

const {
  design,
  navigation,
  settings
} = Astro.props as {
  design: Design
  navigation: Navigation
  settings: Settings
}
const accentColor = design.accentColor || "#0284C7"
---
<html lang="en">
  <head>
    <BaseHead settings={settings} design={design} />
  </head>
  <body class="home-template">
    <div id="app" class="viewport">
      <Header
        navigation={navigation}
        settings={settings}
      />
      <div class="site-content">
        <div class="site-header-content">
          {design.image &&
            <Image
              className="site-header-cover"
              image={design.image}
              width={1512}
              lazy={false}
            />
          }
          {settings.siteName &&
            <h1 class="site-title">{settings.siteName}</h1>
          }
          {settings.siteDescription &&
            <p>{settings.siteDescription}</p>
          }
        </div>
        <main id="site-main" class="outer mx-auto mb-20 mt-10">
          <slot />
        </main>

        <Footer
          design={design}
          navigation={navigation}
          settings={settings}
        />
      </div>
    </div>
  </body>
</html>

<style define:vars={{ accentColor }} global>

</style>
