---
import BaseHead from "../components/BaseHead.astro"
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
import { Layout } from "../lib/interfaces"
import "../styles/global.scss"

const {
  design,
  navigation,
  settings
} = Astro.props as Layout
const accentColor = design.accentColor
---
<html lang="en">
  <head>
    <BaseHead settings={settings} design={design} />
  </head>
  <body>
    <div id="app">
      <Header
        design={design}
        navigation={navigation}
        settings={settings}
      />
      <main class="outer mx-auto mb-20 mt-10">
        <div class="inner">
          <slot />
        </div>
      </main>
      <Footer
        design={design}
        navigation={navigation}
        settings={settings}
      />
    </div>
  </body>
</html>

<style define:vars={{ accentColor }} global>

</style>
