---
import sanityClient from "lib/sanityClient"
import BaseLayout from "layouts/BaseLayout.astro"
import Article from "components/Article.astro"
import Blog from "components/Blog.astro"
import Contact from "components/Contact.astro"
import { pagesQuery } from "lib/queries"
import { Page } from "lib/interfaces"

export async function getStaticPaths() {
  const data: { pages: Page[] } = await sanityClient.fetch(pagesQuery).then(response => response)
  return data.pages.map(page => {
    return {
      params: { slug: page.slug },
      props: { page }
    }
  })
}
const { slug } = Astro.request.params
const { page } = Astro.props as { page: Page }
const {
  body,
  keywords,
  seoDescription,
  seoImage,
  seoTitle,
  template,
  title
} = page
---
<BaseLayout
  title={page.title}
  keywords={keywords}
  seoDescription={seoDescription}
  seoImage={seoImage}
  seoTitle={seoTitle}
  siteDescription={seoDescription}
  slug={slug}
>
  <div>
    <h1>{title}</h1>
    {template === "article" && <Article body={body} />}
    {template === "blog" && <Blog />}
    {template === "contact" && <Contact />}
  </div>
</BaseLayout>
