---
import { Design, Settings } from "lib/interfaces"
const { design, settings } = Astro.props as {
  design: Design
  settings: Settings
}
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />

<title>{settings.siteName && settings.siteName}</title>
<meta
  name="description"
  content={settings.siteDescription && settings.siteDescription}
/>
<!-- <meta name="keywords" content={keywords}> -->

<!-- <meta property="og:title" content={socialTitle}>
<meta property="og:description" content={socialDescription}>
<meta property="og:url" content={permalink}>
<meta property="og:image" content={seoImage}>
<meta property="og:site_name" content={siteName}>
<meta property="og:locale" content="en_GB">
<meta property="og:type" content="article"> -->

<!-- <meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content={socialTitle}>
<meta name="twitter:description" content={socialDescription}>
<meta name="twitter:site" content={twitterHandle}>
<meta name="twitter:image" content={seoImage}>
{twitterHandle !== undefined &&
  <meta name="twitter:creator" content={twitterHandle}>
} -->

<link rel="icon" type="image/x-icon" href={design.icon.url} />
<link rel="mask-icon" href={design.icon.url} color="#FFDC5D" />
<meta name="theme-color" content={design.accentColor} />
<!-- <link rel="stylesheet" href={Astro.resolve("../styles/global.scss")}> -->
