---
import format from "date-fns/format"
import { toPlainText } from "../lib/utils"
import Image from "../components/Image.astro"
import { Post } from "../lib/interfaces"

const {
  posts
} = Astro.props as { posts: Post[] }
---
<div class="inner posts">
  <div class="post-feed">
    {posts && posts.map((post, idx) =>
      <article class={`
        post-card post tag-getting-started
        ${idx === 0 ? "post-card-large" : ""}
      `}>
        <a href={`/blog/${post.settings.slug}`} class="post-card-image-link">
          <Image
            className="post-card-image"
            image={post.image}
            width={800}
            lazy={true}
          />
        </a>
        <div class="post-card-content">
          <a href={`/blog/${post.settings.slug}`} class="post-card-content-link">
            <header>
              <div class="post-card-primary-tag">
                {post.settings.tags[0].title}
              </div>
              <h2 class="post-card-title">
                {post.title}
              </h2>
            </header>
            <div class="post-card-excerpt">
              <p>
                {post.settings.excerpt
                  ? post.settings.excerpt
                  : toPlainText(post.body).substring(0, 210)}
              </p>
            </div>
          </a>
        </div>
        <footer class="post-card-meta">
          <ul class="author-list">
            {post.settings.authors && post.settings.authors.map(author =>
              <li class="author-list-item">
                <a href={`/authors/${author.slug}`} class="static-avatar">
                  <Image
                    className="author-profile-image"
                    image={author.image}
                    width={72}
                    height={72}
                    lazy={true}
                  />
                </a>
              </li>
            )}
          </ul>
          <div class="post-card-byline-content">
            <span>
              <a href={`/authors/${post.settings.authors[0].slug}`}>
                {post.settings.authors[0].name}
              </a>
            </span>
            <span class="post-card-byline-date">
              <time
                datetime={format(new Date(post.settings.publishedAt), "yyyy-MM-dd")}
              >
                {format(new Date(post.settings.publishedAt), "MMM do, yyyy")}
              </time>
              <span class="bull">&bull;</span>
              {Math.ceil(toPlainText(post.body).split(/\W+/).length / 250)}
              min read
            </span>
          </div>
        </footer>
      </article>
    )}
  </div>
</div>
